

   :root {
      --white: #ffffff;
      --grey: #C4C1CF;
      --black: #0E0D13;
      --violet_dark: #201F2E;
      --dark_grey: #44414E;

      --main-bg-color: var(--violet_dark);
      --main-text-color: var(--white);
      --additional-text-color: var(--grey);
      --button-bg-color: var(--dark_grey);
      --footer-bg-color: var(--black);
      --description-bg-color: var(--black);
   } 