.footer {
   position: fixed;
   bottom: 0;
   background: var(--footer-bg-color);
   width: 100%;
   max-width: inherit;
   border-top-left-radius: 32px;
   border-top-right-radius: 32px;
   padding: 24px 32px;
 

   &__search {
      background-color: var(--button-bg-color);
	   padding: 14px 24px 14px 24px;
	   border-radius: 32px; 
	   display: inline-block; 
 }

   &__btn {
      padding: 15px 24px 16px 24px;
      border: none;
      cursor: pointer;
      background-color: var(--button-bg-color);
      outline: inherit;
      color: #c4c1cf;
 }
}