@media (min-width:450px){
   .card{
     max-width: 320px; 
     width: 45%;
   }
 }
 
 @media (min-width:730px){

   .card{
     max-width: 400px;
     width: 40%;
   }
 }
 
 @media (min-width:1000px){
   .card{
     width: 31%;
   }
 } 